<H1>Old Penalty View Search</H1>

<!--
<h2><%= penalty.lrnum %></h2>
<img width="500" height="650" src="<%= penalty.coverImagePath %>">
<div>Place: <%= book.author.name %></div>
<div>Vehicl Number: <%= penalty.vehnum %></div>
<div>Penalty Date: <%= penalty.penaltydate.toDateString() %></div>
<a href="/penalty/<%= penalty.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/penalty/${penalty.id}` }) %>
-->
