<div>
    <label>Penalty Date</label>
    <input type="date" name="penaltydate" 
    value="<%= penalty.penaltydate == null ? '' : penalty.penaltydate.toISOString().split('T')[0] %>">
</div>

<label>Vehicl Number</label>
    <input 
    type="text" 
    name="vehnum" 
    pattern="[A-Z]{2}[0-9]{1,2}[A-Z]{1,2}[0-9]{4}" title="KA99AA9999/KA99A9999"
    value="<%= penalty.vehnum %>">
    </div>

<div>
    <label>Penalty Place</label>
    <input type="text" name="penaltyplace" value="Bangalore" >
</div>

<div>
    <label>GC Number</label>
    <input type="text" name="gcnum" value="<%= penalty.gcnum %>">
</div>

<div>
    <label>Party Name</label>
    <input type="text" name="partyname" value="<%= penalty.partyname %>">
</div>

<div>
    <label>Penalty Amount</label>
    <input type="number" name="penaltyamount" value="<%= penalty.penaltyamount %>" >
</div>

<div>
    <label>Received Amount</label>
    <input type="number" name="receivedamount" value="<%= penalty.receivedamount %>">
</div>

<div>
    <label>Modified Date</label>
    <input type="date" name="modifieddate" 
    value="<%= penalty.modifiedDate == null ? '' : penalty.modifiedDate.toISOString().split('T')[0] %>">
</div>

<div>
    <label>Status</label>
    <input type="text" name="status" value="<%= penalty.status %>">
</div>

<div>
    <label>Penalty Photo Upload</label>
    <input type="file" name="cover" class="filepond">  
</div>
<!--
<div>
    <label>Receipt Photo Upload</label>
    <input type="file" name="receipt" class="filepond">  
</div>-->




    
    