<div>
    <label>Tript Sheet Number</label>
    <input type="text" name="title" value="<%= book.title %>">
    </div>
    <div>
    <label>Vehicl Number</label>
    <input 
    type="text" 
    name="description" 
    pattern="[A-Z]{2}[0-9]{1,2}[A-Z]{1,2}[0-9]{4}" title="KA99AA9999/KA99A9999"
    value="<%= book.description %>">
    </div>
    <div>
    <label>Place</label>
    <select name="author">
    <% authors.forEach(author => { %>
      <% if (author.id === book.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
      <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>">
      <% } %>
    <% }) %>
    </select>
    </div>
    <div>
    <label>Trip Date</label>
    <input type="date" name="publishDate"
          value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
    </div>
    <div>
    <label>Upload Trip Sheet Photo</label>
    <!--<button onclick="function takephoto()" name="cover" id="cover" value="image64"> -->
    <input type="file" name="cover" class="filepond">  
    </div>
    <!--
  <body>
      
      <div class="contentarea">
          <h1>
              
          </h1>
          <div class="camera">
              <video id="video">Video stream not available.</video>
          </div>
          <div><button id="startbutton">Take photo</button></div>
          <canvas id="canvas"></canvas>
          <div class="output">
              <img id="photo" alt="The screen capture will appear in this box.">
          </div>   
      </div>
  
      <script>
      /* JS comes here */
      (function takephoto() {
  
          var width = 320; // We will scale the photo width to this
          var height = 0; // This will be computed based on the input stream
  
          var streaming = false;
  
          var video = null;
          var canvas = null;
          var photo = null;
          var startbutton = null;
          var savebutton = null;
  
          function startup() {
              video = document.getElementById('video');
              canvas = document.getElementById('canvas');
              photo = document.getElementById('photo');
              startbutton = document.getElementById('startbutton');
              savebutton = document.getElementById('savebutton');
              navigator.mediaDevices.getUserMedia({
                      video: true,
                      audio: false,
                      })
                  .then(function(stream) {
                      video.srcObject = stream;
                      video.play();
                  })
                  .catch(function(err) {
                      console.log("An error occurred: " + err);
                  });
  
              video.addEventListener('canplay', function(ev) {
                  if (!streaming) {
                      height = video.videoHeight / (video.videoWidth / width);
  
                      if (isNaN(height)) {
                          height = width / (4 / 3);
                      }
  
                      video.setAttribute('width', width);
                      video.setAttribute('height', height);
                      canvas.setAttribute('width', width);
                      canvas.setAttribute('height', height);
                      streaming = true;
                  }
              }, false);
  
              startbutton.addEventListener('click', function(ev) {
                  takepicture();
                  ev.preventDefault();
              }, false);
              
              clearphoto();
          }
   
          function clearphoto() {
              var context = canvas.getContext('2d');
              context.fillStyle = "#AAA";
              context.fillRect(0, 0, canvas.width, canvas.height);
  
              var data = canvas.toDataURL('image/png');
              photo.setAttribute('src', data);
          }
  
          function takepicture() {
              var context = canvas.getContext('2d');
              if (width && height) {
                  canvas.width = width;
                  canvas.height = height;
                  context.drawImage(video, 0, 0, width, height);
                  const image64 = canvas.toDataURL('image/png');
                  photo.setAttribute('src', image64);
                  
                } else {
                  clearphoto();
              }
          }
        window.addEventListener('load', startup, false);
          })();
        </script>
</body>
  -->